{{define "articles.html"}}
<!-- Added subtle border -->
<div id='all-articles' class='w-full h-screen overflow-y-auto p-4 bg-gray-800 rounded-lg shadow-md border border-gray-700'>
    <h3 class='text-xl font-semibold mb-4 text-white'>Available Articles</h3> <!-- Increased mb -->
    {{if .Titles}}
    <ul class='space-y-1'> <!-- Decreased space-y for tighter list -->
        {{range .Titles}}
        <li
            class='text-green-400 hover:text-green-200 focus:text-green-200 focus:bg-gray-600 cursor-pointer px-3 py-2 rounded hover:bg-gray-700 focus:outline-none focus:ring-1 focus:ring-indigo-500 transition duration-150 ease-in-out block'
            hx-get="http://localhost:1612/api/article/get?title={{. | urlquery}}"
            hx-target="#article-display"
            hx-swap="innerHTML"
            hx-indicator="#loading-indicator"
            tabindex="0"
            >
            {{.}}
         </li>
        {{end}}
    </ul>
    {{else}}
    <p class='text-gray-400'>No articles found.</p>
    {{end}}
    <div id='loading-indicator' class='htmx-indicator text-gray-400 mt-2'>Loading...</div>
</div>
{{end}}
